    h1 {
        margin-bottom: 15px;
        font-size: 2em;
        color: purple;
        background-color:seashell;
        text-align: center;

    }

    h2{
        margin-bottom: 15px;
            font-size: 2em;
            color: purple;
            background-color:greenyellow;
            text-align: center;
    }

    p{
        margin-bottom: 15px;
            font-size: 1em;
            color: black;
            background-color:whitesmoke;
    }


    tr{
        margin-bottom: 15px;
            font-size: 1em;
            color: purple;
            background-color:seashell;
            text-align: center;
      }

